.one, .two, .three {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px;
}

.dark {
	--one: darkred;
	--two: darkblue;
	--three: darkgreen;
}

.light {
	--one: red;
	--two: blue;
	--three: green;
}

.one {
	background: var(--one);
}

.two {
	background: var(--two);
}

.three {
	background: var(--three);
}
